* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: rgb(52, 155, 52);
}

.topnav {
    padding: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.flashy {
    text-align: center;
    padding-right: 50%;
}
.demo {
    padding-block-start: 20px;
    padding-right: 30px;
    margin-left: 200px;
    width: 500px;
    height: 300px;
}
.live {
    color: rgb(117, 16, 36);
}
.arial {
    margin-bottom: 20px;
    text-align: center;
}

.blinking{
    animation: blinkingText 1.2s infinite;
    text-align: center;
    color: greenyellow;
}
@keyframes blinkingText{
    0%{     color: rgb(117, 16, 31); }
    50% { color: transparent;  }
   
}

.listy {
   margin-top: 20px;
   padding-bottom: 2px;
   border: dashed firebrick;
   text-align: center;
}

.guide {
    width: 30%;


}
